In [1]:
# Package
import pickle
import json
import pandas as pd

In [2]:
#  Load model 
with open('list_num_cols.txt', 'r') as f:
    num_cols = json.load(f)

with open('model_scaler.pkl', 'rb') as f:
    scaler = pickle.load(f)

with open('model_pca.pkl', 'rb') as f:
    pca = pickle.load(f)

with open('model_kmean.pkl', 'rb') as f:
    kmeans = pickle.load(f)

In [3]:

#  Data input 
data_input = pd.DataFrame([{
    "CUST_ID": 9999,
    "BALANCE": 2000,
    "BALANCE_FREQUENCY": 0.5,
    "PURCHASES": 1000,
    "ONEOFF_PURCHASES": 600,
    "INSTALLMENTS_PURCHASES": 800,
    "CASH_ADVANCE": 500,
    "PURCHASES_FREQUENCY": 5,
    "ONEOFF_PURCHASES_FREQUENCY": 0.5,
    "PURCHASES_INSTALLMENTS_FREQUENCY": 0.7,
    "CASH_ADVANCE_FREQUENCY": 0.3,
    "CASH_ADVANCE_TRX": 3,
    "PURCHASES_TRX": 20,
    "CREDIT_LIMIT": 5000,
    "PAYMENTS": 800,
    "MINIMUM_PAYMENTS": 500,
    "PRC_FULL_PAYMENT": 0.2,
    "TENURE": 12
}])

data_input

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,9999,2000,0.5,1000,600,800,500,5,0.5,0.7,0.3,3,20,5000,800,500,0.2,12

In [4]:
# Input data
X_new = data_input
X_new = X_new.drop('CUST_ID',axis=1)

# Scaling
X_scaled = scaler.transform(X_new)

# Reduce fitur 
X_pca = pca.transform(X_scaled)

# Prediksi Kmeans
cluster_label = kmeans.predict(X_pca)

# Menampilkan hasil predict cluster
data_input['Cluster'] = cluster_label
data_input

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE,Cluster
0,9999,2000,0.5,1000,600,800,500,5,0.5,0.7,0.3,3,20,5000,800,500,0.2,12,1

> Kesimpulan

Pelanggan dengan CUST_ID 9999 selaras dengan karakter Cluster 1 – “Pembeli Moderat”.
Mereka memiliki pola penggunaan yang stabil: pembelian moderat, batas kredit wajar, dan saldo terkontrol.
Dengan TENURE 12, pelanggan ini menunjukkan loyalitas dan konsistensi tanpa perilaku transaksi yang ekstrem.

Kesimpulannya, model clustering berhasil mengelompokkan pelanggan ini secara akurat sesuai perilaku penggunaan kartunya.